In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import lightgbm as lgb
import bisect
from tqdm import tqdm
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold

train = pd.read_csv('./data/train.csv').drop(columns=['SAMPLE_ID'])
test = pd.read_csv('./data/test.csv').drop(columns=['SAMPLE_ID'])

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
train.head()

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ATA,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,GT,LENGTH,SHIPMANAGER,FLAG,U_WIND,V_WIND,AIR_TEMPERATURE,BN,ATA_LT,DUBAI,BRENT,WTI,BDI_ADJ,PORT_SIZE,CI_HOUR
0,CN,EKP8,Bulk,30.736578,2020-10-15 4:03,Z517571,30.0,28,73100,20.0,10.0,38600,220.0,CHMT36,"China, People's Republic Of",0.14,3.77,15.9,2.730798,12,42.01,43.16,40.96,1407.668330,0.001660,3.048333
1,CN,EUC8,Container,63.220425,2019-09-17 2:55,U467618,30.0,15,37900,20.0,10.0,28100,220.0,CUFV52,Singapore,-3.16,-6.72,24.5,4.289058,10,67.53,64.55,59.34,2089.046774,0.001614,17.138611
2,CN,NGG6,Container,90.427421,2019-02-23 6:43,V378315,50.0,7,115000,20.0,10.0,96400,300.0,ISIG88,Liberia,0.00,0.00,9.4,0.000000,14,65.30,66.39,56.94,603.193047,0.001743,98.827500
3,JP,TMR7,Cargo,0.000000,2020-09-18 22:06,B726632,10.0,33,1490,10.0,0.0,700,70.0,MWFU27,Nauru,4.34,-7.31,22.1,4.693735,7,43.02,43.15,41.11,1169.853455,0.000069,0.000000
4,RU,NNC2,Container,8.813725,2022-08-13 12:57,D215135,30.0,10,27600,10.0,10.0,19300,180.0,OXZY41,Panama,1.92,2.31,22.8,2.345875,14,90.45,93.65,88.11,1107.944894,0.000197,96.030556

In [4]:
train['BN'].describe()

count    213955.000000
mean          2.706476
std           1.387629
min           0.000000
25%           1.804286
50%           2.618063
75%           3.556008
max          11.179660
Name: BN, dtype: float64

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367441 entries, 0 to 367440
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ARI_CO              367441 non-null  object
 1   ARI_PO              367441 non-null  object
 2   SHIP_TYPE_CATEGORY  367441 non-null  object
 3   DIST                367441 non-null  float64
 4   ATA                 367441 non-null  object
 5   ID                  367441 non-null  object
 6   BREADTH             367440 non-null  float64
 7   BUILT               367441 non-null  int64
 8   DEADWEIGHT          367441 non-null  int64
 9   DEPTH               367440 non-null  float64
 10  DRAUGHT             367440 non-null  float64
 11  GT                  367441 non-null  int64
 12  LENGTH              367440 non-null  float64
 13  SHIPMANAGER         367441 non-null  object
 14  FLAG                367441 non-null  object
 15  U_WIND              213955 non-null  float64
 16  V_WIND              213955 non-null  float64
 17  AIR_TEMPERATURE     213076 non-null  float64
 18  BN                  213955 non-null  float64
 19  ATA_LT              367441 non-null  int64
 20  DUBAI               367441 non-null  float64
 21  BRENT               367441 non-null  float64
 22  WTI                 367441 non-null  float64
 23  BDI_ADJ             367441 non-null  float64
 24  PORT_SIZE           367441 non-null  float64
 25  CI_HOUR             367441 non-null  float64
dtypes: float64(15), int64(4), object(7)
memory usage: 72.9+ MB

In [7]:
train.isnull().sum()

ARI_CO                     0
ARI_PO                     0
SHIP_TYPE_CATEGORY         0
DIST                       0
ATA                        0
ID                         0
BREADTH                    1
BUILT                      0
DEADWEIGHT                 0
DEPTH                      1
DRAUGHT                    1
GT                         0
LENGTH                     1
SHIPMANAGER                0
FLAG                       0
U_WIND                153486
V_WIND                153486
AIR_TEMPERATURE       154365
BN                    153486
ATA_LT                     0
DUBAI                      0
BRENT                      0
WTI                        0
BDI_ADJ                    0
PORT_SIZE                  0
CI_HOUR                    0
dtype: int64