In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

train = pd.read_csv('./data/train.csv').drop(columns=['SAMPLE_ID'])
test = pd.read_csv('./data/test.csv').drop(columns=['SAMPLE_ID'])

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
train.head()

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ATA,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,GT,LENGTH,SHIPMANAGER,FLAG,U_WIND,V_WIND,AIR_TEMPERATURE,BN,ATA_LT,DUBAI,BRENT,WTI,BDI_ADJ,PORT_SIZE,CI_HOUR
0,CN,EKP8,Bulk,30.736578,2020-10-15 4:03,Z517571,30.0,28,73100,20.0,10.0,38600,220.0,CHMT36,"China, People's Republic Of",0.14,3.77,15.9,2.730798,12,42.01,43.16,40.96,1407.668330,0.001660,3.048333
1,CN,EUC8,Container,63.220425,2019-09-17 2:55,U467618,30.0,15,37900,20.0,10.0,28100,220.0,CUFV52,Singapore,-3.16,-6.72,24.5,4.289058,10,67.53,64.55,59.34,2089.046774,0.001614,17.138611
2,CN,NGG6,Container,90.427421,2019-02-23 6:43,V378315,50.0,7,115000,20.0,10.0,96400,300.0,ISIG88,Liberia,0.00,0.00,9.4,0.000000,14,65.30,66.39,56.94,603.193047,0.001743,98.827500
3,JP,TMR7,Cargo,0.000000,2020-09-18 22:06,B726632,10.0,33,1490,10.0,0.0,700,70.0,MWFU27,Nauru,4.34,-7.31,22.1,4.693735,7,43.02,43.15,41.11,1169.853455,0.000069,0.000000
4,RU,NNC2,Container,8.813725,2022-08-13 12:57,D215135,30.0,10,27600,10.0,10.0,19300,180.0,OXZY41,Panama,1.92,2.31,22.8,2.345875,14,90.45,93.65,88.11,1107.944894,0.000197,96.030556

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367441 entries, 0 to 367440
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ARI_CO              367441 non-null  object
 1   ARI_PO              367441 non-null  object
 2   SHIP_TYPE_CATEGORY  367441 non-null  object
 3   DIST                367441 non-null  float64
 4   ATA                 367441 non-null  object
 5   ID                  367441 non-null  object
 6   BREADTH             367440 non-null  float64
 7   BUILT               367441 non-null  int64
 8   DEADWEIGHT          367441 non-null  int64
 9   DEPTH               367440 non-null  float64
 10  DRAUGHT             367440 non-null  float64
 11  GT                  367441 non-null  int64
 12  LENGTH              367440 non-null  float64
 13  SHIPMANAGER         367441 non-null  object
 14  FLAG                367441 non-null  object
 15  U_WIND              213955 non-null  float64
 16  V_WIND              213955 non-null  float64
 17  AIR_TEMPERATURE     213076 non-null  float64
 18  BN                  213955 non-null  float64
 19  ATA_LT              367441 non-null  int64
 20  DUBAI               367441 non-null  float64
 21  BRENT               367441 non-null  float64
 22  WTI                 367441 non-null  float64
 23  BDI_ADJ             367441 non-null  float64
 24  PORT_SIZE           367441 non-null  float64
 25  CI_HOUR             367441 non-null  float64
dtypes: float64(15), int64(4), object(7)
memory usage: 72.9+ MB

In [5]:
train.isnull().sum()

ARI_CO                     0
ARI_PO                     0
SHIP_TYPE_CATEGORY         0
DIST                       0
ATA                        0
ID                         0
BREADTH                    1
BUILT                      0
DEADWEIGHT                 0
DEPTH                      1
DRAUGHT                    1
GT                         0
LENGTH                     1
SHIPMANAGER                0
FLAG                       0
U_WIND                153486
V_WIND                153486
AIR_TEMPERATURE       154365
BN                    153486
ATA_LT                     0
DUBAI                      0
BRENT                      0
WTI                        0
BDI_ADJ                    0
PORT_SIZE                  0
CI_HOUR                    0
dtype: int64

In [6]:
# datetime 컬럼 처리
train['ATA'] = pd.to_datetime(train['ATA'])

# datetime을 여러 파생 변수로 변환
train['YEAR'] = train['ATA'].dt.year
train['MONTH'] = train['ATA'].dt.month
train['DAY'] = train['ATA'].dt.day
train['HOUR'] = train['ATA'].dt.hour
train['MINUTE'] = train['ATA'].dt.minute
train['WEEKDAY'] = train['ATA'].dt.weekday

# datetime 컬럼 제거
train.drop(columns='ATA', inplace=True)

In [7]:
train[train['CI_HOUR']==0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147360 entries, 3 to 367439
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ARI_CO              147360 non-null  object
 1   ARI_PO              147360 non-null  object
 2   SHIP_TYPE_CATEGORY  147360 non-null  object
 3   DIST                147360 non-null  float64
 4   ID                  147360 non-null  object
 5   BREADTH             147359 non-null  float64
 6   BUILT               147360 non-null  int64
 7   DEADWEIGHT          147360 non-null  int64
 8   DEPTH               147359 non-null  float64
 9   DRAUGHT             147359 non-null  float64
 10  GT                  147360 non-null  int64
 11  LENGTH              147359 non-null  float64
 12  SHIPMANAGER         147360 non-null  object
 13  FLAG                147360 non-null  object
 14  U_WIND              80598 non-null   float64
 15  V_WIND              80598 non-null   float64
 16  AIR_TEMPERATURE     80271 non-null   float64
 17  BN                  80598 non-null   float64
 18  ATA_LT              147360 non-null  int64
 19  DUBAI               147360 non-null  float64
 20  BRENT               147360 non-null  float64
 21  WTI                 147360 non-null  float64
 22  BDI_ADJ             147360 non-null  float64
 23  PORT_SIZE           147360 non-null  float64
 24  CI_HOUR             147360 non-null  float64
 25  YEAR                147360 non-null  int64
 26  MONTH               147360 non-null  int64
 27  DAY                 147360 non-null  int64
 28  HOUR                147360 non-null  int64
 29  MINUTE              147360 non-null  int64
 30  WEEKDAY             147360 non-null  int64
dtypes: float64(15), int64(10), object(6)
memory usage: 36.0+ MB

In [8]:
train[train['CI_HOUR']>0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220081 entries, 0 to 367440
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ARI_CO              220081 non-null  object
 1   ARI_PO              220081 non-null  object
 2   SHIP_TYPE_CATEGORY  220081 non-null  object
 3   DIST                220081 non-null  float64
 4   ID                  220081 non-null  object
 5   BREADTH             220081 non-null  float64
 6   BUILT               220081 non-null  int64
 7   DEADWEIGHT          220081 non-null  int64
 8   DEPTH               220081 non-null  float64
 9   DRAUGHT             220081 non-null  float64
 10  GT                  220081 non-null  int64
 11  LENGTH              220081 non-null  float64
 12  SHIPMANAGER         220081 non-null  object
 13  FLAG                220081 non-null  object
 14  U_WIND              133357 non-null  float64
 15  V_WIND              133357 non-null  float64
 16  AIR_TEMPERATURE     132805 non-null  float64
 17  BN                  133357 non-null  float64
 18  ATA_LT              220081 non-null  int64
 19  DUBAI               220081 non-null  float64
 20  BRENT               220081 non-null  float64
 21  WTI                 220081 non-null  float64
 22  BDI_ADJ             220081 non-null  float64
 23  PORT_SIZE           220081 non-null  float64
 24  CI_HOUR             220081 non-null  float64
 25  YEAR                220081 non-null  int64
 26  MONTH               220081 non-null  int64
 27  DAY                 220081 non-null  int64
 28  HOUR                220081 non-null  int64
 29  MINUTE              220081 non-null  int64
 30  WEEKDAY             220081 non-null  int64
dtypes: float64(15), int64(10), object(6)
memory usage: 53.7+ MB

In [9]:
train.head()

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,GT,LENGTH,SHIPMANAGER,FLAG,U_WIND,V_WIND,AIR_TEMPERATURE,BN,ATA_LT,DUBAI,BRENT,WTI,BDI_ADJ,PORT_SIZE,CI_HOUR,YEAR,MONTH,DAY,HOUR,MINUTE,WEEKDAY
0,CN,EKP8,Bulk,30.736578,Z517571,30.0,28,73100,20.0,10.0,38600,220.0,CHMT36,"China, People's Republic Of",0.14,3.77,15.9,2.730798,12,42.01,43.16,40.96,1407.668330,0.001660,3.048333,2020,10,15,4,3,3
1,CN,EUC8,Container,63.220425,U467618,30.0,15,37900,20.0,10.0,28100,220.0,CUFV52,Singapore,-3.16,-6.72,24.5,4.289058,10,67.53,64.55,59.34,2089.046774,0.001614,17.138611,2019,9,17,2,55,1
2,CN,NGG6,Container,90.427421,V378315,50.0,7,115000,20.0,10.0,96400,300.0,ISIG88,Liberia,0.00,0.00,9.4,0.000000,14,65.30,66.39,56.94,603.193047,0.001743,98.827500,2019,2,23,6,43,5
3,JP,TMR7,Cargo,0.000000,B726632,10.0,33,1490,10.0,0.0,700,70.0,MWFU27,Nauru,4.34,-7.31,22.1,4.693735,7,43.02,43.15,41.11,1169.853455,0.000069,0.000000,2020,9,18,22,6,4
4,RU,NNC2,Container,8.813725,D215135,30.0,10,27600,10.0,10.0,19300,180.0,OXZY41,Panama,1.92,2.31,22.8,2.345875,14,90.45,93.65,88.11,1107.944894,0.000197,96.030556,2022,8,13,12,57,5

## 피처 엔지니어링

In [10]:
def DEADWEIGHT_CATEGORY(x):
    if x>=10000 and x<35000: # 핸디사이즈
        return 1
    elif x>=35000 and x<58000: # 핸디맥스
        return 2
    elif x>=58000 and x<60000: # 수프라막스
        return 3
    elif x>=60000 and x<80000: # 파나맥스
        return 4
    elif x>=80000 and x<120000: # 아프라막스
        return 5
    elif x>=120000 and x<180000: # 케이프사이즈
        return 6
    elif x>=180000 and x<200000: # 수에즈막스
        return 7
    elif x>=200000 and x<250000: # VLOC
        return 8
    elif x>=250000 and x<320000: # VLCC
        return 9
    elif x>=320000 and x<550000: # ULCC
        return 10
    elif x>=550000: # UPPER
        return 11
    else : # LOWER
        return 0
    

def WEST_EAST(x):
	if x>12:
		return x-24
	elif x<-12:
		return x+24
	else:
		return x


# 영국의 경도 기준으로 (+0 ~ +11) 영국 기준 서쪽 나라, (-0 ~ -11) 영국 기준 동쪽 나라
train['WEST_EAST'] = train['HOUR'] - train['ATA_LT']
train['WEST_EAST'] = train['WEST_EAST'].apply(WEST_EAST)

# # 주말 여부, 0은 평일, 1은 주말
train['IS_WEEKEND'] = train['WEEKDAY'].isin([4,5,6])
# 선박 크기별 분류
train['DEADWEIGHT_CATEGORY'] = train['DEADWEIGHT'].apply(DEADWEIGHT_CATEGORY)
# 접안여부
train['IS_BERTHING'] = train['DIST'].apply(lambda x: 0 if x == 0 else 1)
# 새벽(0~6시) = 0 , 나머지 1
train['TIME_OF_DAY'] = pd.cut(train['HOUR'], bins=[0, 6, 24], labels=[0,1])

In [11]:
train.head()

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,GT,LENGTH,SHIPMANAGER,FLAG,U_WIND,V_WIND,AIR_TEMPERATURE,BN,ATA_LT,DUBAI,BRENT,WTI,BDI_ADJ,PORT_SIZE,CI_HOUR,YEAR,MONTH,DAY,HOUR,MINUTE,WEEKDAY,WEST_EAST,IS_WEEKEND,DEADWEIGHT_CATEGORY,IS_BERTHING,TIME_OF_DAY
0,CN,EKP8,Bulk,30.736578,Z517571,30.0,28,73100,20.0,10.0,38600,220.0,CHMT36,"China, People's Republic Of",0.14,3.77,15.9,2.730798,12,42.01,43.16,40.96,1407.668330,0.001660,3.048333,2020,10,15,4,3,3,-8,False,4,1,0
1,CN,EUC8,Container,63.220425,U467618,30.0,15,37900,20.0,10.0,28100,220.0,CUFV52,Singapore,-3.16,-6.72,24.5,4.289058,10,67.53,64.55,59.34,2089.046774,0.001614,17.138611,2019,9,17,2,55,1,-8,False,2,1,0
2,CN,NGG6,Container,90.427421,V378315,50.0,7,115000,20.0,10.0,96400,300.0,ISIG88,Liberia,0.00,0.00,9.4,0.000000,14,65.30,66.39,56.94,603.193047,0.001743,98.827500,2019,2,23,6,43,5,-8,True,5,1,0
3,JP,TMR7,Cargo,0.000000,B726632,10.0,33,1490,10.0,0.0,700,70.0,MWFU27,Nauru,4.34,-7.31,22.1,4.693735,7,43.02,43.15,41.11,1169.853455,0.000069,0.000000,2020,9,18,22,6,4,-9,True,0,0,1
4,RU,NNC2,Container,8.813725,D215135,30.0,10,27600,10.0,10.0,19300,180.0,OXZY41,Panama,1.92,2.31,22.8,2.345875,14,90.45,93.65,88.11,1107.944894,0.000197,96.030556,2022,8,13,12,57,5,-2,True,1,1,1

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367441 entries, 0 to 367440
Data columns (total 36 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ARI_CO               367441 non-null  object
 1   ARI_PO               367441 non-null  object
 2   SHIP_TYPE_CATEGORY   367441 non-null  object
 3   DIST                 367441 non-null  float64
 4   ID                   367441 non-null  object
 5   BREADTH              367440 non-null  float64
 6   BUILT                367441 non-null  int64
 7   DEADWEIGHT           367441 non-null  int64
 8   DEPTH                367440 non-null  float64
 9   DRAUGHT              367440 non-null  float64
 10  GT                   367441 non-null  int64
 11  LENGTH               367440 non-null  float64
 12  SHIPMANAGER          367441 non-null  object
 13  FLAG                 367441 non-null  object
 14  U_WIND               213955 non-null  float64
 15  V_WIND               213955 non-null  float64
 16  AIR_TEMPERATURE      213076 non-null  float64
 17  BN                   213955 non-null  float64
 18  ATA_LT               367441 non-null  int64
 19  DUBAI                367441 non-null  float64
 20  BRENT                367441 non-null  float64
 21  WTI                  367441 non-null  float64
 22  BDI_ADJ              367441 non-null  float64
 23  PORT_SIZE            367441 non-null  float64
 24  CI_HOUR              367441 non-null  float64
 25  YEAR                 367441 non-null  int64
 26  MONTH                367441 non-null  int64
 27  DAY                  367441 non-null  int64
 28  HOUR                 367441 non-null  int64
 29  MINUTE               367441 non-null  int64
 30  WEEKDAY              367441 non-null  int64
 31  WEST_EAST            367441 non-null  int64
 32  IS_WEEKEND           367441 non-null  bool
 33  DEADWEIGHT_CATEGORY  367441 non-null  int64
 34  IS_BERTHING          367441 non-null  int64
 35  TIME_OF_DAY          348378 non-null  category
dtypes: bool(1), category(1), float64(15), int64(13), object(6)
memory usage: 96.0+ MB

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

# GPU 사용 가능 여부 확인
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

target = 'CI_HOUR'
x = train.drop(target, axis = 1)
y = train.loc[:, target]

# 데이터 분할: 훈련 및 검증
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=42)

# PyTorch DataLoader 생성
train_dataset = TensorDataset(torch.tensor(x_train, dtype=torch.float32), torch.tensor(y_train, dtype=torch.float32))
train_loader = DataLoader(train_dataset, batch_size=256, shuffle=True)
val_dataset = TensorDataset(torch.tensor(x_val, dtype=torch.float32), torch.tensor(y_val, dtype=torch.float32))
val_loader = DataLoader(val_dataset, batch_size=256, shuffle=False)

# 오토인코더 모델 정의
class Autoencoder(nn.Module):
    def __init__(self):
        super(Autoencoder, self).__init__()
        self.encoder = nn.Sequential(
            nn.Linear(x.shape[0], 64),
            nn.LeakyReLU(),
            nn.Dropout(0.2),
            nn.Linear(64, 32),
            nn.LeakyReLU(),
            nn.Dropout(0.2),
            nn.Linear(32, 16),
            nn.LeakyReLU(),
            nn.Dropout(0.2),
            nn.Linear(16, 8),
            nn.LeakyReLU()
        )
        self.decoder = nn.Sequential(
            nn.Linear(8, 16),
            nn.LeakyReLU(),
            nn.Linear(16, 32),
            nn.LeakyReLU(),
            nn.Linear(32, 64),
            nn.LeakyReLU(),
            nn.Linear(64, x.shape[0]),
            nn.Sigmoid()
        )

    def forward(self, x):
        x = self.encoder(x)
        x = self.decoder(x)
        return x

autoencoder = Autoencoder().to(device)

# 오토인코더 모델 컴파일 및 훈련
criterion_ae = nn.BCELoss()
optimizer_ae = optim.Adam(autoencoder.parameters(), lr=0.001)

for epoch in range(10):
    for data, _ in train_loader:
        data = data.to(device)
        optimizer_ae.zero_grad()
        outputs = autoencoder(data)
        loss = criterion_ae(outputs, data)
        loss.backward()
        optimizer_ae.step()

In [ ]:
# 오토인코더의 인코더 부분을 추출하여 특징 추출기로 사용
feature_extractor = autoencoder.encoder

# 예제 입력 데이터에 대한 특징 추출
example_input = torch.tensor(np.random.rand(1, 20), dtype=torch.float32).to(device)
extracted_features = feature_extractor(example_input)

print("Extracted Features:", extracted_features)

## 학습 및 예측

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
import bisect
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold
import xgboost as xgb

In [14]:
train = pd.read_csv('./data/train.csv').drop(columns=['SAMPLE_ID'])
test = pd.read_csv('./data/test.csv').drop(columns=['SAMPLE_ID'])

In [15]:
# datetime 컬럼 처리
train['ATA'] = pd.to_datetime(train['ATA'])
test['ATA'] = pd.to_datetime(test['ATA'])

# datetime을 여러 파생 변수로 변환
for df in [train, test]:
    df['YEAR'] = df['ATA'].dt.year
    df['MONTH'] = df['ATA'].dt.month
    df['DAY'] = df['ATA'].dt.day
    df['HOUR'] = df['ATA'].dt.hour
    df['MINUTE'] = df['ATA'].dt.minute
    df['WEEKDAY'] = df['ATA'].dt.weekday

# datetime 컬럼 제거
train.drop(columns='ATA', inplace=True)
test.drop(columns='ATA', inplace=True)

# Categorical 컬럼 인코딩
categorical_features = ['ARI_CO', 'ARI_PO', 'SHIP_TYPE_CATEGORY', 'ID', 'SHIPMANAGER', 'FLAG']
encoders = {}

for feature in tqdm(categorical_features, desc="Encoding features"):
    le = LabelEncoder()
    train[feature] = le.fit_transform(train[feature].astype(str))
    le_classes_set = set(le.classes_)
    test[feature] = test[feature].map(lambda s: '-1' if s not in le_classes_set else s)
    le_classes = le.classes_.tolist()
    bisect.insort_left(le_classes, '-1')
    le.classes_ = np.array(le_classes)
    test[feature] = le.transform(test[feature].astype(str))
    encoders[feature] = le

# 결측치 처리
train.fillna(train.mean(), inplace=True)
test.fillna(train.mean(), inplace=True)

Encoding features: 100%|██████████| 6/6 [00:01<00:00,  4.24it/s]

In [16]:
X_train = train.drop(columns='CI_HOUR')
y_train = train['CI_HOUR']
X_test = test

In [17]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=0)
dtrain = xgb.DMatrix(X_train, label=y_train)
dval = xgb.DMatrix(X_val, label=y_val)

params = {
        'objective':'reg:squarederror',
        'learning_rate':0.1,
        'eval_metric':'rmse',
        'random_state':0
    }

num_round = 300
bst = xgb.train(params, dtrain, num_round)

y_pred = bst.predict(dval)
y_pred = np.where(y_pred < 0, 0, y_pred)

print('rmse :',mean_absolute_error(y_val, y_pred))

rmse : 45.381957741175974

In [18]:
importance = bst.get_score(importance_type='gain')

In [19]:
X_train = train.drop(columns='CI_HOUR')
y_train = train['CI_HOUR']
X_test = test

In [21]:
kf = KFold(n_splits=5, shuffle=True, random_state=0)

# 각 fold의 모델로부터의 예측을 저장할 리스트와 MAE 점수 리스트
ensemble_predictions = []
scores = []

for train_idx, val_idx in tqdm(kf.split(X_train), total=5, desc="Processing folds"):
    X_t, X_val = X_train.iloc[train_idx], X_train.iloc[val_idx]
    y_t, y_val = y_train[train_idx], y_train[val_idx]
    
    dtrain = xgb.DMatrix(X_t, label=y_t)
    dval = xgb.DMatrix(X_val, label=y_val)
    
    params = {
        'objective':'reg:squarederror',
        'learning_rate':0.1,
        'eval_metric':'rmse',
        'random_state':0
    }

    num_round = 300
    bst = xgb.train(params, dtrain, num_round)
    
    # 각 모델로부터 Validation set에 대한 예측을 평균내어 앙상블 예측 생성
    val_pred = bst.predict(dval)
    val_pred = np.where(val_pred < 0, 0, val_pred)
    
    # Validation set에 대한 대회 평가 산식 계산 후 저장
    scores.append(mean_absolute_error(y_val, val_pred))
    
    # test 데이터셋에 대한 예측 수행 후 저장
    input = xgb.DMatrix(X_test)
    xgb_pred = bst.predict(input)
    xgb_pred = np.where(xgb_pred < 0, 0, xgb_pred)
    
    ensemble_predictions.append(xgb_pred)

# K-fold 모든 예측의 평균을 계산하여 fold별 모델들의 앙상블 예측 생성
final_predictions = np.mean(ensemble_predictions, axis=0)

# 각 fold에서의 Validation Metric Score와 전체 평균 Validation Metric Score출력
print("Validation : MAE scores for each fold:", scores)
print("Validation : MAE:", np.mean(scores))

Processing folds: 100%|██████████| 5/5 [04:50<00:00, 58.09s/it]

Validation : MAE scores for each fold: [45.38195774117597, 46.00905373628229, 45.88025474139071, 46.1946854974487, 46.710675279945605]
Validation : MAE: 46.03532539924865

## 제출

In [22]:
submit = pd.read_csv('./data/sample_submission.csv')
submit['CI_HOUR'] = final_predictions
submit.to_csv('./lee_submit.csv', index=False)